<h2>New celebrity</h2>
<hr>

<form method="POST" action="/celebrities/new">
  <lable>
    Name:
    <input type="text" name="name">
  </lable>
  <lable>
    Occupation:
    <input type="text" name="occupation">
  </lable>
  <lable>
    CatchPhrase:
    <input type="text" name="catchPhrase">
  </lable>
  <button type="submit"> Add celebrity </button>
</form>

</hr>