<h2>New Movie</h2>
<hr>

<form method="POST" action="/movies/add">
  <lable>
    Title:
    <input type="text" name="title">
  </lable>
  <lable>
    Genre:
    <input type="text" name="genre">
  </lable>
  <lable>
    Plot:
    <input type="text" name="Plot">
  </lable>
  <button type="submit"> Add movie </button>
</form>

</hr>